@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap");

html {
  --font-logo: "Gilda Display", serif;
  --font-body: "GlacialIndifference", sans-serif;
  --color-primary: #4b4b4b;
}

@font-face {
  font-family: 'GlacialIndifference';
  src: local('GlacialIndifference'), url(../fonts/GlacialIndifference-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'GlacialIndifference';
  font-weight: 900;
  src: local('GlacialIndifference'), url(../fonts/GlacialIndifference-Bold.otf) format('truetype');
}

body, html,
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  color: var(--color-primary);
  font-weight: 300;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

p {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 0.9rem;
}

.container {
  max-width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

/* HEADER -------------------------- */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0px;
}

.navBar-social {
  /* background: blue; */
  width: 33%;
  cursor: pointer;
}

.navbar-content {
  /* background: #324d67; */
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}
.navBar-logo {
  /* background: green; */
  width: 33%;
  cursor: pointer;
}

.navBar-logo-content {
  /* background: gray; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  margin: auto;
}
.navBar-logo-content h1 {
  font-family: var(--font-logo) !important;
  letter-spacing: 16px;
  font-weight: 200;
  font-size: 1rem;
  color: white;
}

.navBar-logo-subtitile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.navBar-logo-subtitile span {
  width: 60px;
  height: 1px;
  background: white;
}

.navBar-logo-subtitile h2 {
  font-weight: 100;
  font-size: 0.8rem;
  color: white;
}

.cart-icon {
  width: 33%;
}

.background-black-active{
  background: black !important;
}
.background-white-active{
  background: white;
}
.color-black-active{
  color: black !important;
}

/* ------------------------- */



@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}
.logo {
  color: gray;
  font-size: 18px;
}
.cart-icon {
  font-size: 25px;
  color: black;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: end;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: var(--color-primary);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

/* Product page homepage */
.products-container {
  display: flex;
  flex-direction: column;
  /* background: red; */
}

.products-heading {
  margin: 40px 0px;
  color: #324d67;
}

.product-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  cursor: pointer;
  color: #324d67;
  width: 310px;
  height: auto;
  margin: 5px;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}
.product-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  background-color: #ebebeb;
  transition-duration: 0.5s;
  /* filter: brightness(70%); */
  filter: grayscale(80%);
}
.product-image:hover {
  /* filter: brightness(70%); */
  filter: grayscale(0%);
}

.product-card:hover {
  border-bottom: 1px solid;
  opacity: 1;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.product-name {
  font-weight: 500;
  margin-top: 6px;
}
.product-details {
  font-size: 0.7rem;
  line-height: 20px;
  font-weight: 300;
  margin-top: 6px;
}
.product-price {
  font-weight: 300;
  margin-top: 6px;
}

.aboutMe-container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutMe-container .text-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  line-height: 30px;
}

.aboutMe-container .text-content-title {
  line-height: 50px;
}

.aboutMe-container .aboutMe-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe-container .aboutMe-img img {
  height: 400px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.contact-div-1 .contact-div-2 .contact-div-3 {
  width: 31%;
  height: 100%;
}

.contact-div-1-text {
  display: flex;
  margin-bottom: 40px;
  /* background: #0a7eeb; */
}

.contact-div-2 {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contact-div-3-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  /* border: 1px solid black; */
}

.contact-div-3-item div:nth-child(2) {
  /* background: green; */
  width: 75%;
  margin: 0px auto;
}

/* BANNER ------------------ */
.hero-banner-container{
  position: relative;
}

.hero-banner-btn{
  position: absolute;
  top: 70%;
  left: 25%;
  right: 25%;
  width: 200px;
  margin: auto;
}
.hero-banner-image{
  height:100vh;
  width: 100vw;
  object-fit: cover;
} 

/*FOOTER ------------------------- */
.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}
.banner-desc {
  display: flex;
  justify-content: space-between;
}
.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p {
  margin: 18px;
}
.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p {
  font-size: 18px;
}
.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  color: #324d67;
  margin-top: 20px;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: var(--color-primary);
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 180px;
  height: 150px;
  object-fit: cover;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}
.item-desc .bottom {
  margin-top: 60px;
}
.flex h5 {
  font-size: 24px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 200px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1, 1);
}

/* SLUG ------------------ */
.product-detail-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 80px 40px;
}

.product-detail-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-detail-container-image{
  padding-top: 15px;
}

.product-detail-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.product-detail-image:hover {
  background-color: #f02d34;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}


.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
}
.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid var(--color-primary);
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: var(--color-primary);
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}
.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}
.product-max-qty {
  margin-top: 10px;
}

.maylike-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {

  main{
    width: 120%;
  }
  .hero-banner-image{
    width: 100%;
  }

  /* SLUG RESPONSIVE */
  .products-heading{
    display: flex;
    justify-content: center;
  }
  .product-main{
    justify-content: center;
  }
  .maylike-products-wrapper{
    margin-bottom: 300px;
  }

  /* FOOTER RESPONSIVE */
  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
  .desc {
    bottom: 60px;
  }
  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  /* ABOUT ME RESPONSIVE ------------ */
  .aboutMe-container {
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
  }

  .aboutMe-container .text-content{
    width: 90%;
  }
  .aboutMe-container .text-content-title{
    text-align: center;
  }
  .aboutMe-container .aboutMe-img {
    width: 95%;
  }

  /* CONTACT RESPONSIVE -------- */
  .contact-container{
    height: 80vh;
  }
  .cart-container {
    width: 415px;
    padding: 4px;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}
